# custom files
!custom/plugins/example
!custom/example.zsh

# temp files directories
cache/
log/

emacs.d/.cache
emacs.d/.cask
emacs.d/elpa
emacs.d/auto-save-list

.DS_Store

lib/
lib/spacemacs/

emacs.d/vendors/matlab-emacs/

.env

CocoaPods/**


# JetBrains
**/.idea/**/*.xml
.idea/**/*

.netrwhist